body {

}

.aside, .content{
    }

.top-content{
     clear:both;
     height: 300px;
        
    }
.header{
background-color: pink;
    height:60px;
        padding-bottom: 1px;
    padding-left: 5px;


}

.container {
background-color:#FFFF99;    
width:1080px;
margin: 0 auto;
}

.header ul li {
    padding-right: 5px;
  display:inline;
    position: relative;
    left: 210px;
    bottom: 45px;

}

.description {
    clear:both;
    padding: 10px 20px 0;
}

.aside{
    background-color: #FFFF99;
    text-align: center;
    padding-top: 15px;

}

.aside ul li {
 list-style-type:none;   
}

.content{
    background-color: lightgreen;
    width:85%;
    float: left;
 
}

img {
    float: left;
    margin: 0 0 10px 10px;

}

.section{
    width: 30%;
    float: left;
    margin-left: 3%;


}



.footer{
    background-color: #6A8ACC;
    text-align: center;
       padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
   position: static;
   clear:both;
}
.footer ul li {
    list-style-type:none;
 
    
}
