.wrap {
	
	border-radius: 3px;
	
}
.header{
    border-style:solid;
    border-width:2px;
    background-color:#BF9F30 ;
    position: fixed;
    width:600px;
   
}
.nav{
    border-style:dashed;
    border-width:2px;
    background-color:#BF9F30;
	width:600px;
	float:left;
	margin-top:80px;
}
.sidebar{
    border-style:dashed;
    border-width:2px;
    background-color:#6CAB2B ;
	width:600px;
	float:left;
	margin-top:80px;
}
.content{
    border-style:dashed;
    border-width:2px;
    background-color:#BF9F30;
	width:600px;
	float:left;
	margin-top:80px;
}


    
