.content, .sidebar, .footer{
	
	display:inline-block;
	
	
	}
	
	
.wrap {
	
	border-width: 3px;
	
}
.header{
    border-style:solid;
    border-width:0px;
    background-color:#BF9F30 ;
    width:100%;
   
}
.nav{
    border-style:solid;
    border-width:0px;
    background-color:#BF9F30;
	width:100%;
	float:left;
}
.sidebar{
    border-style:solid;
    border-width:0px;
    background-color:#6CAB2B ;
	width:600px;
}
.content{
    border-style:solid;
    border-width:0px;
    background-color:#BF9F30;
	width:600px;
}



    
