.content, .sidebar, .footer{
	
	display:inline-block;
	
	
	}
.nav ul li {
display:inline;	
}
	
.wrap {
	width: 60%;
	border-width: 3px;
	margin: 0 auto;
	
}
.header{
    border-style:solid;
    border-width:1px;
    border-style:solid;
    border-color:#000000;

    background-color:#BF9F30 ;
    width:100%;
   
}
.nav{
    border-style:solid;
    border-bottom: 2px dashed #ffffff;
    border-width:1px;
    background-color:#6CAB2B;
	width:100%;
}
	.nav ul li {
		padding: 5px;
		
	}
	
.sidebar{
    border-style:solid;
    border-width:1px;
    background-color:#6CAB2B ;
	width:23%;
    position: absolute;
    padding-top: 15px;
    padding-right: 10px;
    height: 69%;
}
.content{
    border-style:solid;
    border-width:1px;
    background-color:#BF9F30;
	width:74%;
	
}

.content ul li {
	list-style-type:none;
	text-align: center;
	
}


    
